<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="../../static/css/style2.css" th:href="@{css/style2.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Register Form</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">company1</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/register">register</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/profile">profile</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/users">Users</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post"
              sec:authorize="isAuthenticated()">
            <input class="form-control mr-sm-2" type="hidden">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">log out</button>
        </form>
    </div>
</nav>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="alert alert-info" th:if="${exist}">
            <p class="text text-center">
                User with this Email already Exist
            </p>
        </div>
        <h2 class="active"> Sign up </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://image.flaticon.com/icons/svg/148/148924.svg" id="icon" alt="User Icon"/>
        </div>
        <form th:action="@{/register}" th:object="${user}" method="post">


            <input type="text" class="fadeIn second" placeholder="Email Address" id="email" name="email"
                   th:field="*{email}"/>
            <div class="text text-danger" th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}"></div>


            <input type="password" class="fadeIn third" placeholder="Password"  th:field="*{password}" id="password" name="password">
            <div class="text text-danger"
                 th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>


            <input type="text" class="fadeIn second" th:field="*{name}" id="name" name="name" placeholder="name"/>
            <div class="text text-danger" th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}"></div>
            <input type="submit" class="fadeIn fourth" value="sign up">
        </form>
    </div>
</div>

</body>
</html>